@import 'variables.scss';

/* reset */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
/* /reset */

html, body{
    height: 100%;
}

body {
    font-size: 12px;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
    color: $branding-1;
}

.o-main{
    margin-bottom: 3em;
    
    .o-main__container{
        padding: 1em;
    }
    
    .o-main__loading{
        text-align: center;
    }
}

.o-banner{
    background-image: url('../img/woman-buying.png');
    height: 180px;
    background-position-y: center;
    background-size: cover;
    margin-bottom: 3em;
    position: relative;
    grid-area: banner;

    .o-banner__title{
        font-size: 2.5em;
        text-align: center;
        margin: 1.2em 0;
        position: relative;
        z-index: 2;
    }

    .o-banner__search{
        position: absolute;
        color: $branding-1;
        z-index: 3;
        right: 50%;
        top: 2em;
        width: 80%;
        height: 1em;
        padding: .5em;
        border-radius: 4px;
        transform: translateX(50%)
    }

    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, 0.5);
    }
}

.o-menu{
    padding: 1em;
    grid-area: menu;
}

.o-footer{
    text-align: center;
    padding: 2em;
    border-top: 1px solid $gris-rata;

    .o-footer__link{

    }
}

.o-main__title{
    font-size: 2em;
    color: $branding-3;
    text-align: center;
}

.c-products{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .c-products__item{
        box-shadow: 0px 0px 12px $gris-rata;
        list-style: none;
        height: 100px;
        margin: 1em;
        padding: 1em;
        width: 100%;
        word-wrap: break-word;

        &.c-products__item--no-available{
            opacity: 0.4;
        }
    }

    .c-products__text{
        color: $gris-luna;
        &.c-products__text--bold{
            font-weight: bold;   
        }
        &.c-products__text--big{
            font-size: 1.4em;
        }
        &.c-products__text--orange{
            color: $branding-2;
        }
        &.c-products__text--danger{
            color: $branding-4;
        }
        &.c-products__text--green{
            color: $verde-olivo;
        }
    }
}

.c-detail-item{
    box-shadow: 0px 0px 1em $gris-rata;
    min-height: 30vh;
    margin-bottom: 15em;
    margin-top: -35px;
    padding: 1em;

    .c-detail-item__title{
        font-size: 2em;
        font-style: italic;
    }

    .c-detail-item__figure{

    }

    .c-detail-item__image{

    }

    .c-detail-item__caption{
        display: none;
    }

    .c-detail-item__text{
        color: $branding-2;   

        &.c-detail-item__text--bold{
            font-weight: 600;
        }
    }

    .c-detail-item__added{
        color: $verde-olivo;
        font-weight: 600;
        opacity: 0;
        transition: opacity .3s ease-in;
        &.c-detail-item__added--shown{
            opacity: 1;
        }
    }

    .c-detail-1{
        
        .c-detail-1__image{
            text-align: center;
        }
    }
    
    .c-detail-2{
        flex-basis: 40%;
    }
}

.c-button{
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: $branding-1;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    
    &:hover{
        background-color: rgba(0,0,0, 0.1);
    }

    &.c-button--orange{
        background-color: $branding-1;
        color: $white;
        &:hover{
            background-color: $branding-3;
        }
    }

    &.c-button--outline{
        border: 1px solid $gris-rata;
    }

    &.c-button--disabled{
        cursor: not-allowed;
        opacity: 0.1;
    }
}

.c-panel{
    border-radius: 4px;
    border: 1px solid $gris-rata;

    .c-panel__title{
        background-color: $gris-claro;
        color: $branding-1;
        font-size: 1em;
        font-weight: 600;
        padding: 1em;
    }

    .c-panel__body{
        padding: 1em;
    }

    .c-panel__list{
        padding: 1em;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;
        
        &:nth-child(odd){
            background-color: $gris-claro;
        }
    }

    &.c-panel--sort{
        border: 1px solid $branding-1;

        .c-panel__title{
            background-color: $white;
            color: $branding-3;
        }
    }
}

.c-menu-list{
    list-style: none;
    padding: 0;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
@media screen and(min-width: 768px){
    body{
        font-size: 12px;
    }

    .o-main{
        display: grid;
        grid-template-areas: 
            "banner banner"
            "menu container"
            "menu container";
        grid-template-columns: 300px 1fr;
        .o-main__container{
        }        
    }

    .o-banner{
        height: 240px;

        .o-banner__title{
            font-size: 3.5em;
        }

        .o-banner__search{
            right: 1em;
            top: 1em;
            width: 250px;
            border-radius: 4px;
            transform: initial;
        }
    }

    .o-menu{        
    }
    
    .c-products{
        .c-products__item{
            width: 150px;
            height: 150px;
        }
    }

    .c-menu-list{
        margin: 0;
        padding: 0;
        color: $gris-rata;
        .c-menu-list__item{
            cursor: pointer;
            padding: 1em;
            &:hover{
                background-color: $gris-claro;
                color: $branding-1;
            }
        }        
    }

    .c-sub-menu-list{
        .c-sub-menu-list__item{
            &:hover{
                background-color: red;
                color: $branding-1;
            }   
        }
    }
    
    .c-detail-item{
        display: flex;

        .c-detail-1{
            display: flex;
            flex-basis: 60%;

            .c-detail-1__image{
                text-align: initial;
            }
        }
    }
}

@media screen and(min-width: 1024px){
    body{
        font-size: 14px;
    }
}