@import url(/Users/teca/Documents/Proyectos/Rappi/clientApp/assets/css/icons.css);
/* reset */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* /reset */
html, body {
  height: 100%;
}

body {
  font-size: 12px;
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  color: #f33959;
}

.o-main {
  margin-bottom: 3em;
}

.o-main .o-main__container {
  padding: 1em;
}

.o-main .o-main__loading {
  text-align: center;
}

.o-banner {
  background-image: url("../img/woman-buying.png");
  height: 180px;
  background-position-y: center;
  background-size: cover;
  margin-bottom: 3em;
  position: relative;
  grid-area: banner;
}

.o-banner .o-banner__title {
  font-size: 2.5em;
  text-align: center;
  margin: 1.2em 0;
  position: relative;
  z-index: 2;
}

.o-banner .o-banner__search {
  position: absolute;
  color: #f33959;
  z-index: 3;
  right: 50%;
  top: 2em;
  width: 80%;
  height: 1em;
  padding: .5em;
  border-radius: 4px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.o-banner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.o-menu {
  padding: 1em;
  grid-area: menu;
}

.o-footer {
  text-align: center;
  padding: 2em;
  border-top: 1px solid #b6b3b3;
}

.o-main__title {
  font-size: 2em;
  color: #f65d78;
  text-align: center;
}

.c-products {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-products .c-products__item {
  -webkit-box-shadow: 0px 0px 12px #b6b3b3;
          box-shadow: 0px 0px 12px #b6b3b3;
  border-radius: 4px;
  list-style: none;
  height: 140px;
  margin: 1em;
  padding: 1em;
  width: 100%;
  word-wrap: break-word;
}

.c-products .c-products__item.c-products__item--no-available {
  opacity: 0.4;
}

.c-products .c-products__text {
  color: #747070;
}

.c-products .c-products__text.c-products__text--bold {
  font-weight: bold;
}

.c-products .c-products__text.c-products__text--big {
  font-size: 1.4em;
}

.c-products .c-products__text.c-products__text--orange {
  color: #f98a9e;
}

.c-products .c-products__text.c-products__text--danger {
  color: #c30023;
}

.c-products .c-products__text.c-products__text--green {
  color: #55ab49;
}

.c-detail-item {
  -webkit-box-shadow: 0px 0px 1em #b6b3b3;
          box-shadow: 0px 0px 1em #b6b3b3;
  min-height: 30vh;
  margin-bottom: 15em;
  margin-top: -35px;
  padding: 1em;
}

.c-detail-item .c-detail-item__title {
  font-size: 2em;
  font-style: italic;
}

.c-detail-item .c-detail-item__caption {
  display: none;
}

.c-detail-item .c-detail-item__text {
  color: #f98a9e;
}

.c-detail-item .c-detail-item__text.c-detail-item__text--bold {
  font-weight: 600;
}

.c-detail-item .c-detail-item__added {
  color: #55ab49;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.c-detail-item .c-detail-item__added.c-detail-item__added--shown {
  opacity: 1;
}

.c-detail-item .c-detail-1 .c-detail-1__image {
  text-align: center;
}

.c-detail-item .c-detail-2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.c-button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: #f33959;
  font-size: 1em;
  padding: 1em;
  width: 100%;
}

.c-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.c-button.c-button--orange {
  background-color: #f33959;
  color: #ffffff;
}

.c-button.c-button--orange:hover {
  background-color: #f65d78;
}

.c-button.c-button--outline {
  border: 1px solid #b6b3b3;
}

.c-button.c-button--disabled {
  cursor: not-allowed;
  opacity: 0.1;
}

.c-panel {
  border-radius: 4px;
  border: 1px solid #b6b3b3;
}

.c-panel .c-panel__title {
  background-color: #f1f1f1;
  color: #f33959;
  font-size: 1em;
  font-weight: 600;
  padding: 1em;
}

.c-panel .c-panel__body {
  padding: 1em;
}

.c-panel .c-panel__list {
  padding: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-panel .c-panel__list:nth-child(odd) {
  background-color: #f1f1f1;
}

.c-panel.c-panel--sort {
  border: 1px solid #f33959;
}

.c-panel.c-panel--sort .c-panel__title {
  background-color: #ffffff;
  color: #f65d78;
}

.c-menu-list {
  list-style: none;
  padding: 0;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 12px;
  }
  .o-main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "banner banner" "menu container" "menu container";
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
  }
  .o-banner {
    height: 240px;
  }
  .o-banner .o-banner__title {
    font-size: 3.5em;
  }
  .o-banner .o-banner__search {
    right: 1em;
    top: 1em;
    width: 250px;
    border-radius: 4px;
    -webkit-transform: initial;
            transform: initial;
  }
  .c-products .c-products__item {
    width: 150px;
    height: 150px;
  }
  .c-menu-list {
    margin: 0;
    padding: 0;
    color: #b6b3b3;
  }
  .c-menu-list .c-menu-list__item {
    cursor: pointer;
    padding: 1em;
  }
  .c-menu-list .c-menu-list__item:hover {
    background-color: #f1f1f1;
    color: #f33959;
  }
  .c-sub-menu-list .c-sub-menu-list__item:hover {
    background-color: red;
    color: #f33959;
  }
  .c-detail-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-detail-item .c-detail-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .c-detail-item .c-detail-1 .c-detail-1__image {
    text-align: initial;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */